<div class="col-xs-12 lh-40 height-40" >
  <h2 class="margin-b-none margin-t-xs color-mediumgrey"><i class="text-center fa fa-inbox width-25 padding-r-sm"></i>&nbsp;Step 1 of 3&nbsp;&nbsp;<i class="fa font-sm fa-caret-right"></i>&nbsp;&nbsp;Package Information</h2>
</div>

<%= render 'form' %>
